body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(255, 255%, 255%);
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

main {
    padding-top: 5rem;
}

/* .landing {
    display: flex;
    align-items: center; /* Vertically align the items */
    /* justify-content: space-between; /* Distribute space between the items
} */

.landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

.landing .portrait {
    flex: 1;
    margin-right: 100px;
}

.landing .portrait img {
    width: 50%;
}

.landing h1, .landing p {
    margin: 0;
}

.landing h1 {
    font-size: 2em;
    margin: 50;
}

.landing p {
    font-size: 1.2em;
}

.landing div {
    flex: 1;
    text-align: right;
}

/* .landing {
    text-align: center;
    padding: 10rem 2rem;
    background: white;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing img {
    width: 20%;
    margin-right: 1000px;
    /* margin-bottom: px;
}*/

.landing h1 {
    font-size: 2rem;
    margin-left: 800px; */
}

.project {
    padding: 10rem 2rem;
    background: hsl(255, 255%, 255%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-container {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.project-image {
    flex: 1;
    padding-right: 20px;
}

.project-image img {
    max-width: 100%;
    border-radius: 5px;
}

.project-description {
    flex: 2;
}

.api-test {
    padding: 10rem 2rem;
    background: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#api-form {
    display: flex;
    flex-direction: column;
}

#api-form label {
    margin-bottom: 0.5rem;
}

#api-form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#api-form button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #007acc;
    color: white;
    cursor: pointer;
}

#api-response {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #e0e0e0;
    border-radius: 5px;
    display: none;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: white;
    color: #333;
    border-top: 1px solid #ddd;
    position: fixed;
    width: 100%;
    bottom: 0;
}
